* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
label.error {
    display: block;
    color: red;
    text-align: left;
    padding-left: 38%;
}
input[type="submit"] {
    margin-bottom: 54px;
    margin-top: 20px;
}

span.field {
    font-size: 18px;
    color: #1313ea;
}

button.nuttt {
    padding-top: 0px;
    margin-top: 2px;
    transition: all 0.5s;
}

button.nuttt {
    padding-top: 0px;
    margin-top: 2px;
    transition: all 0.5s;
}
.pom-agile {
    margin-left: 7%;
    margin-right: 10%;
}
.pom-agile {
    position: relative;
}
span.icon1, span.icon2 {
    color: #ea2858;
    font-size: 1.1em;
    position: absolute;
    right: 20%;
}
span.icon1 {
    top: 20%;
}

span.icon2 {
    top: 42%;
}
span.icon2 {
    top: 34%;
}
input[type="email"],input[type="password"],input[type="text"]{
    outline: none;
    font-size: .9em;
    padding: 1em 3em 1em 1em;
    border: 1px solid blue;
    margin-bottom: 0.3em;
    background: rgba(255, 255, 255, 0.85);
    width: 43%;
    color: #000;
    border-radius: 30px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

input.Address {
    margin-left: 112px;
}

input.Tele {
    margin-left: 63px;
}

input.Infor {
    margin-left: 113px;
}

input.user {
    margin-left: 33px;
}

input[type="submit"] {
    color: white;
    background: #ea2858bd;
    border: none;
    padding: .7em 0;
    outline: none;
    width: 13%;
    font-size: 17px;
    cursor: pointer;
    margin-left: -1%;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border-radius: 30px;
}

input[type="submit"]:hover {
    background: #ea2858;
    color: white;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -o-transition:0.5s all;
    -moz-transition:0.5s all;
    -ms-transition:0.5s all;
}

.wthree-pro h2 {
    font-size: 1.5em;
    font-weight: 700;
    color: #e01b1b;
    letter-spacing: 4px;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    text-align: center;
}
.wthree-pro h3 {
    color: #f50730;
    font-weight: 600;
    padding-bottom: 20px;
}
.posTDTT{
    padding-top: 154px;
    margin-left: 0px;
}

.menu li:hover {
    color: #1a242f;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #1a242f;
}

.col-md-2.col-md-push-5 {
    margin-top: -20px;
}

.tienhoa .menu li {
    margin-top: 7px;
}



button.nuttt {
    padding-top: 0px;
    margin-top: 2px;
    margin-right: -74px;
    transition: all 0.5s;
}

.dt .duongke {
    border-top: 5px solid;
    color: white;
    border-radius: 7px;
    padding-top: 18px;
    margin-top: 13px;
    transition: all 0.5s;
    width: 115%;
}

.menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.nav li a {
    padding: 7px 7px;
    transition: all 0.4s;
    margin-left: 15px;
}


.collapse.navbar-collapse.navbar-ex1-collapse {
    margin-right: 48px;
    padding-top: 21px;
    transition: all 0.5s;
}

.tienhoa .collapse.navbar-collapse.navbar-ex1-collapse {
    padding: 0px;
}

a.navbar-brand {
    font-size: 26px;
    padding-top: 33px;
    transition: all 0.5s; 
    text-decoration: none;
}

.tienhoa a.navbar-brand {
    padding-top: 15px;
}

.container.dt {margin-right: 20px;margin-left: 20px;}

.collapse.navbar-collapse.navbar-ex1-collapse {}

nav.navbar.navbar-default {
    padding-top: 0px;
    padding-bottom: 0px;
}

nav.navbar.navbar-default.navbar-fixed-top.tienhoa {
    height: 69px;
}
.navbar-default {
    background: #6518f5d1;
    background-repeat: repeat;
}

.tienhoa .duongke {}


nav.navbar.navbar-default{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin: 0;
}



footer {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

footer h3 {
    margin-bottom: 30px;
    font-weight: 600;
}

footer .footer-above {
    padding-top: 45px;
    background-color: #6518f5d1;
}

footer .footer-col {
    margin-bottom: 45px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #380598d1;
}

img .imglogo {
    height: 40px;
}
.logofooter {
    margin-top: -32px;
}
.shortlink{
  list-style-type: none;
  text-align: left;
  margin-left: 0px;
}
.shortlink li a{
  color: white;
}
.shortlink li a:hover {
  text-decoration: underline;
  color: #18bc9c;
}

.btn-social {
    display: inline-block;
    color: white;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    transition: all 0.4s; 
}
.btn-social:hover {
    background: white;
}


.caption h3, .caption p{
    color: blue;
}


.tienhoa .duongke {
    padding-top: 0px;
    margin-top: -7px;
    z-index: 10;
    position: relative;
}
/* -----------Khung thong tin ------------------ */
.khung {
    position: relative;
    float: right;
    margin-top: 18px;
    margin-right: -95px;
    transition: all 0.5s;
}

.nuttt {
    background: transparent;
    padding: 17px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 19px;
    color: #04f952f7;
}

.tienhoa button.nuttt {
    margin-top: -11px;
}

.ava {
    width: 40px;
    text-indent: -9090px;
    background-size: cover;
    border-radius: 50%;
}

.danhmuctt {
    position: absolute;
    right: 0;
}

.tienhoa .danhmuctt {
    margin-top: -17px;
}

.danhmuctt {
    margin-right: -76px;
    display: none;
    z-index: 20;
    background-color: #f9f9f9;
    min-width: 200px;
    -webkit-transition: z-index 1s;
    -o-transition: z-index 1s;
    transition: z-index 1s;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
}

.nuttt:after {
    width: 0;
    height: 0;
    content: "";
    z-index: 2;
    border-top: 4px solid #f7f6f6;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    right: -69px;
    top: 50%;
    margin-top: -9px;
}
.danhmuctt a{
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}
.danhmuctt a:hover{
    color: blue;
}
.khung:hover .danhmuctt{
    display: block;
}
.nenslide {
    padding-top: 30px;
    width: 100%;
    height: 740px;
    background-image: url("../file/Images/backEdu.jpg");
    background-size: cover;
}

/* themmoi */
.row.vaothi{
    padding-top:150px;
    padding-bottom: 83px;
}

.boxtt {

margin-right: 0px;
}

.boxtt:nth-child(1n) {
    float: left;
    clear: none;
}
.boxtt {
    background: #e4e0e0;
    border-radius: 10px;
    padding-top: 13px;
    padding-left: 10px;
    width: 100%;
}

.td {
    margin-bottom: 0;
    font-size: 25px;
    color: #0a48fd;
    font-weight: 700;
    padding-left: 10px;
    padding-bottom: 0;
}
.thongtin {
    padding: 0 3px;
    list-style-type: none;
}

.tt {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    margin-left: 300px;
}

.anhicon {
    margin-right: 10px;
}
.nutsua {
    float: right;
    margin-top: 10px;
    margin-bottom: 15px;
}

.btn.btn-warning.nutsua a {
    text-decoration: none;
    color: white;
}
.nutsua {
    text-align: center;
    color: #fff;
    border-radius: 20px;
    font-size: 16px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    margin-left: 0px;
}

.btn.btn-warning.nutnop {margin-right: 28%;}

.noidungch ul {
    list-style-type: none;
}

.btnthaotac a {
    color: #fdf9f9;
    text-decoration: none;
}

.btn.btn-danger.btnthaotac.btntt {
    float: right;
    margin-right: 18px;
}

.btn.btn-danger.btnthaotac.btntruoc {
    float: left;
}

.btn.btn-danger.btnthaotac.btntt {
}

.btnthaotac {
    margin-top: 36px;
    border-radius: 16px;
}

.cauhoi {
    font-size: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.noidungch {
    padding-bottom: 0;
}

.khungbl {
    background: #d7ecb5;
    border-radius: 20px;
    margin-left: -56px;
    padding: 14px 52px;
    padding-bottom: 96px;
}

ul.cacluachon li {
    font-size: 15px;
}

.tenbl{
    color: blue;
}
ul.thongtin {
    padding-left: 280px;
} 

/* effect */
.effect-21 ~ .focus-border:before,
.effect-21 ~ .focus-border:after{content: ""; position: absolute; top: 0; right: 0; width: 0; height: 2px; background-color: #3399FF; transition: 0.2s; transition-delay: 0.2s;}
.effect-21 ~ .focus-border:after{top: auto; bottom: 0; right: auto; left: 0; transition-delay: 0.6s;}
.effect-21 ~ .focus-border i:before,
.effect-21 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #3399FF; transition: 0.2s;}
.effect-21 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0; transition-delay: 0.4s;}
.effect-21:focus ~ .focus-border:before,
.effect-21:focus ~ .focus-border:after,
.has-content.effect-21 ~ .focus-border:before,
.has-content.effect-21 ~ .focus-border:after{width: 100%; transition: 0.2s; transition-delay: 0.6s;}
.effect-21:focus ~ .focus-border:after,
.has-content.effect-21 ~ .focus-border:after{transition-delay: 0.2s;}
.effect-21:focus ~ .focus-border i:before,
.effect-21:focus ~ .focus-border i:after,
.has-content.effect-21 ~ .focus-border i:before,
.has-content.effect-21 ~ .focus-border i:after{height: 100%; transition: 0.2s;}
.effect-21:focus ~ .focus-border i:after,
.has-conten.effect-21 ~ .focus-border i:after{transition-delay: 0.4s;}
.effect-21 ~ label{position: absolute; left: 14px; width: 100%; top: 10px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.effect-21:focus ~ label, .has-content.effect-21 ~ label{top: -18px; left: 0; font-size: 12px; color: #3399FF; transition: 0.3s;}
.dulieu {
    display: inline-block;
}
.dulieu input {
    border-radius: 10px;
    width: 150%;
    height: 35px;
}
/* end them moi */
.effect-21:focus ~ label.error {
    display: block;
    color: red;
    font-style: 25px;
    padding-left: 40%;
}
img.navbar-brand {
  width: 190px;
  height: auto;
  padding-top: 27px;
  padding-bottom: 0px;
  transition: all 0.5s; 
}
.navbar-header {
    margin-left: -10px;
}
.tienhoa img.navbar-brand {
  padding-top: 6px;
  padding-bottom: 5px;
}
.tienhoa ul.nav.navbar-nav.navbar-right.menu {
    margin-top: 4px;
}
ul.nav.navbar-nav.navbar-right.menu {
    margin-top: 11px;
    margin-right: -21px;
    padding-top: -5px;
    transition: all .5s;
    text-align: left;
    display: inline-block;
}
@media(max-width: 767px) {
    .tt {
        margin-left: 0px;
    }

    .effect-21 ~ label.error {
        padding-left: 20%;
    }

    .dulieu input {
        width: 113%;
    }

    ul.thongtin {
        padding-left: 0px;
    }
}
@media(min-width: 768px ) and (max-width: 1200px){
  .navbar-nav>li {
    text-align: center;
  }
  .navbar-nav {
    padding-left: 142px;
    padding-top: -11px;
  }

  ul.nav.navbar-nav.navbar-right.menu {
    margin-right: 23px;
    margin-left: 26px;
    margin-top: -36px;
  }

.tt {
    margin-left: 20%;
}

.btn.btn-warning.nutsearch {
    margin-left: 50%;
}
  .tienhoa ul.nav.navbar-nav.navbar-right.menu {
    margin-top: -61px;
    margin-left: 35px;}

    .tienhoa .duongke {
      margin-top: -5px;
    }

    ul.nav.navbar-nav.navbar-right.menu li a 
    {
      font-size: 12px;
      padding: 2px 3px;
    }

    .khung {
      margin-top: 16px;
      right: 10%;
    }

    .container.dt {margin-left: 0px;}

    button.nuttt {
    }
  }
@media(max-width: 767px) {
    .btn.btn-warning.nutsearch {
        margin-left: 50%;
    }
    .content {
        margin-left: 91px;
        margin-right: 91px;
    }
}
@media(max-width: 767px) {
    a.navbar-brand {
      padding-top: 17px;
  }
  .duongke {
      width: 123%;
  }
  .nav li a {
      padding: 5px 20px;
      transition: all 0.4s;
      margin-left: 41px;
  }

  .container dt {
      margin-left: 0px;
  }

  .tienhoa .nav li a {
      padding: 3px 48px;
  }
  .navbar-nav {
      margin-top: -6px;
      margin-right: 10px;
      margin-bottom: 0.75px;
      margin-left: -56px;
  }

  ul.nav.navbar-nav.navbar-right.menu {
      padding-top: 0px;
      margin-top: -10px;
  }

  ul.nav.navbar-nav.navbar-right.menu li {
      display: block;
  }


  .tienhoa ul.nav.navbar-nav.navbar-right.menu {
      padding: 0px 18px;
  }

  .tienhoa ul.nav.navbar-nav.navbar-right.menu {
      padding-top: -20px;
  }

  .tienhoa .duongke {
      margin-top: 5px;
  }
  .navbar-toggle {
      margin-right: -10px;
      padding: 9px 10px;
      margin-top: 25px;
  }
  .khung {
      margin-right: 57px;
      margin-left: 0px;
  }
  .container.dt {
      margin-right: 0px;
      margin-left: 0px;
      background: #6518f5d1;
  }
  img.navbar-brand {
      width: 43%;
      padding-left: 0px;
      padding-top: 19px;
  }
  .hinhanh img {
      width: 110%;

  }
  .navbar-right .menu {
      background: #6518f5d1
  }
  .tienhoa ..navbar-right {
      background: #6518f5d1
  }
  .tienhoa .dt .duongke {
      padding-bottom: 10px;
  }
  .tienhoa .menu li {
      display:  inline-block;
  }
  .khungcn{
    margin-left: 5px;
   }
  .ul.nav.navbar-nav.navbar-right.menu ul {
    display: inline-block;
   }
}
@media(max-width: 767px) {
    .pom-agile {
        margin-left: 0px;
        font-size: 11px;
    }
    input.Address {margin-left: 60px;width: 53%;}

    span.field {font-size: 13px;}

    input.user {
        margin-left: 14px;
        width: 54%;
    }

    input.Tele {
        margin-left: 23px;
        width: 55%;
    }

    input.Infor {
        margin-left: 71px;
        width: 54%;
    }

    span.icon1, span.icon2 {
        right: 13%;
    }

    input[type="submit"] {
        width: 23%;
        margin-left: -3%;
    }

    .wthree-pro h2 {
        letter-spacing: 1px;
    }

    .input {
        margin-left: 0px;
        padding-left: 0px;
    }
    .col-lg-4.wow.zoomIn {
        display: inline;
    }
}