* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.menu li:hover {
    color: #1a242f;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #1a242f;
}

.danhmuc {
    margin-left: 69px;
}

.col-md-2.col-md-push-5 {
    margin-top: -20px;
}

.tienhoa .menu li {
    margin-top: 7px;
}


.tienhoa .btn-btn-default.nutlogin {
    padding: 4px;
}

.hinhanh {
    padding-top: 41px;
}

.detail {
    padding-top: 13px;
}

.dt .duongke {
    border-top: 5px solid;
    color: white;
    border-radius: 7px;
    padding-top: 18px;
    margin-top: 13px;
    transition: all 0.5s;
}


.nutlogin {
    padding: 15px;
}
.nutlogin a {
    background: #ffa500de;
    padding: 3px 9px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    float: right;
    font-size: 18px;
    transition: all 0.4s; 
}

.nutlogin a:hover {
    background: #c38003de;
}

.menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.nav li a {
    padding: 7px 7px;
    transition: all 0.4s;
    margin-left: 15px;
}

.collapse.navbar-collapse.navbar-ex1-collapse {
    margin-right: 150px;
    padding-top: 21px;
    transition: all 0.5s; 
}

.tienhoa .collapse.navbar-collapse.navbar-ex1-collapse {
    padding: 0px;
}

.btn-btn-default.nutlogin {
    padding-bottom: 16px;
    float: right;
    transition: all 0.5s; 
}

a.navbar-brand {
    font-size: 26px;
    padding-top: 33px;
    transition: all 0.5s; 
    text-decoration: none;
}


.tienhoa a.navbar-brand {
    padding-top: 15px;
}

.container.dt {
    margin-right: 0px;
  }


nav.navbar.navbar-default {
    padding-top: 0px;
    padding-bottom: 0px;
}

nav.navbar.navbar-default.navbar-fixed-top.tienhoa {
    height: 69px;
}
.navbar-default {
    background: #6518f5d1;
    background-repeat: repeat;
}



nav.navbar.navbar-default{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin: 0;
}



.slideIntro {
    padding-bottom: 23px;
    padding-top: 48px;
}


footer {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

footer h3 {
    margin-bottom: 30px;
    font-weight: 600;
}

footer .footer-above {
    padding-top: 45px;
    background-color: #6518f5d1;
}

footer .footer-col {
    margin-bottom: 45px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #380598d1;
}

img .imglogo {
    height: 40px;
}
.logofooter {
    margin-top: -32px;
}
.shortlink{
  list-style-type: none;
  text-align: left;
  margin-left: 0px;
}
.shortlink li a{
  color: white;
}
.shortlink li a:hover {
  text-decoration: underline;
  color: #18bc9c;
}

.btn-social {
    display: inline-block;
    color: white;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    transition: all 0.4s; 
}
.btn-social:hover {
    background: white;
}


.caption h3, .caption p{
    color: blue;
}

.tienhoa .duongke {
    padding-top: 0px;
    margin-top: -7px;
}
.hinhanh {
    padding-bottom: 57px;
}


img.navbar-brand {
  width: 190px;
  height: auto;
  padding-top: 27px;
  padding-bottom: 0px;
  transition: all 0.5s; 
}
.tienhoa img.navbar-brand {
  padding-top: 17px;
  padding-bottom: 5px;
}
/*   Style quen mat khau */
.pom-agile {
    margin-right: 0px;
}
.main-content-agile.doimk {
    padding-top: 40px;
    padding-bottom: 85px;
    margin-bottom: -181px;
    background: #8041f685;
}
.sub-main-w3 input[type="email"], .sub-main-w3 input[type="password"], .sub-main-w3 input[type="text"]{
    outline: none;
    font-size: .9em;
    padding: 1em 3em 1em 1em;
    border: none;
    margin-bottom: 0.3em;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    color: #000;
    border-radius: 30px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.sub-main-w3 {
    width: 32%;
    margin: 10em auto 12em;
}

.sub-main-w3 input[type="submit"] {
    color: white;
    background: #ea2858;
    border: none;
    padding: .7em 0;
    margin-bottom: 51px;
    outline: none;
    width: 44%;
    font-size: 1em;
    cursor: pointer;
    margin-left: 91px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border-radius: 30px;
}
.sub-main-w3 input[type="submit"]:hover {
    background: #fff;
    color: black;
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -o-transition:0.5s all;
  -moz-transition:0.5s all;
  -ms-transition:0.5s all;
}

.wthree-pro h2 {
    font-size: 1.5em;
    color: #ea2858;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    text-align: center;
}
.pom-agile {
    position: relative;
}

span.icon1, span.icon2 {
    color: #ea2858;
    font-size: 1.1em;
    position: absolute;
    right: 6%;
}
span.icon1 {
    top: 41%;
}
span.icon2 {
    top: 34%;
}

.sub-w3l h6 {
  font-size: 1em;
  color: white;
  text-align: center;
}
.sub-w3l h6 a {
    font-size: 1em;
    color: #1033e8;
    letter-spacing: 1px;
    text-align: right;
}
.sub-w3l {
    margin-top: 1em;
}
.right-w3l {
    margin-top: 2em;
}

input.pass {
    margin-top: .7em;
}
label.error {
    display: block;
    color: red;
    padding-left: 0;
}
/* end style */

@media(max-width: 767px) {
    .container .dt {
       background: #6518f5d1;
    }
    a.navbar-brand {
        padding-top: 17px;
    }
    .nutlogin {
        padding-bottom: 0px;
        float: right;
        transition: all 0.5s;
        padding-right: 0px;
        margin-right: -18px;
        margin-top: -2px;
    }
    .duongke {
        width: 123%;
    }
    .nav li a {
        padding: 7px 20px;
        transition: all 0.4s;
        margin-left: 41px;
    }
    .navbar-nav {
        margin-top: -6px;
        margin-right: 10px;
        margin-bottom: 0.75px;
        margin-left: -19px;
    }
    .navbar-toggle {
        margin-right: 0px;
        padding: 9px 10px;
        margin-top: 13px;
    }
    img.navbar-brand {
      width: 41%;
      padding-top: 19px;
    }
    .hinhanh img {
      width: 110%;

    }
    .navbar-right .menu {
        background: #6518f5d1
    }
    .tienhoa .navbar-right {
        background: #6518f5d1
    }
    .tienhoa .dt .duongke {
        padding-bottom: 10px;
    }
    .tienhoa .menu li {
        display:  inline-block;
    }
}
@media(max-width: 767px) 
{

    .pom-agile {
        margin-left: -109px;
        margin-right: -86px;
    }

    .sub-main-w3 input[type="submit"] {
        margin-left: 6px;
        width: 90%;
    }

    .sub-w3l {
        margin-left: -33px;
    }

    .right-w31 {
    }

    .wthree-pro h2 {
        letter-spacing: 0px;
        font-size: 20px;
    }

    .wthree-pro {
        margin-left: -32px;
    }
    label.error {
     font-size: 12px;
     padding-left: 0px;
 }
}

/* modal */
.form-dark .font-small {
  font-size: 0.8rem; }

.form-dark .md-form label {
  color: #fff; }

.form-dark input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=password]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark .modal-header {
    border-bottom: none;
}
h3#myModalLabel {
  color: #fdee22;
}
.md-form.mb-5.newpass label {
  color: white;
}
.md-form.pb-3.repass label {
  color: white;
}
.nutdoimk {
  border-radius: 20px;
  background: #a0f364;
  color: #ea3307;
  font-weight: 600;
  font-size: 17px;
  transition: .4s;
  margin: 20px 0px;
  padding: 7px 8px;
  margin-left: 40%;
}

.nutdoimk:hover {
    background: #0bda27;
    color: white;
}
form#laylaimk{
  padding: 0px 20px;
}
label#Form-email5-error {
  color: red;
}
label#Form-pass5-error {
  color: red;
}
#modalquenmk {
    transition: all 1s;
}