* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.menu li:hover {
    color: #1a242f;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #1a242f;
}

.col-md-2.col-md-push-5 {
    margin-top: -20px;
}

.tienhoa .menu li {
    margin-top: 7px;
}

.tienhoa .btn-btn-default.nutlogin {
    padding: 4px;
}

button.nuttt {
    padding-top: 0px;
    margin-top: 2px;
    margin-right: -74px;
    transition: all 0.5s;
}

.dt .duongke {
    border-top: 5px solid;
    color: white;
    border-radius: 7px;
    padding-top: 18px;
    margin-top: 13px;
    transition: all 0.5s;
    width: 115%;
}

.menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.nav li a {
    padding: 7px 7px;
    transition: all 0.4s;
    margin-left: 15px;
}

.collapse.navbar-collapse.navbar-ex1-collapse {
    margin-right: 48px;
    padding-top: 21px;
    transition: all 0.5s;
}

.tienhoa .collapse.navbar-collapse.navbar-ex1-collapse {
    padding: 0px;
}

a.navbar-brand {
    font-size: 26px;
    padding-top: 33px;
    transition: all 0.5s; 
    text-decoration: none;
}

.tienhoa a.navbar-brand {
    padding-top: 15px;
}

.container.dt {
    margin-right: 20px;
    margin-left: 20px;
}

nav.navbar.navbar-default {
    padding-top: 0px;
    padding-bottom: 0px;
}

nav.navbar.navbar-default.navbar-fixed-top.tienhoa {
    height: 69px;
}
.navbar-default {
    background: #6518f5d1;
    background-repeat: repeat;
}

nav.navbar.navbar-default{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin: 0;
}
/* them */
.boxthumbnail {
    margin-top: -73px;
}

.boxthumbnail {
    margin-top: -91px;
    background: #b2e2aac7;
    padding: 20px 20px;
}

.noidung {
    padding-top: 338px;
    padding-bottom: 48px;
}
/* end them */
footer {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

footer h3 {
    margin-bottom: 30px;
    font-weight: 600;
}

footer .footer-above {
    padding-top: 45px;
    background-color: #6518f5d1;
}

footer .footer-col {
    margin-bottom: 45px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #380598d1;
}

img .imglogo {
    height: 40px;
}
.logofooter {
    margin-top: -32px;
}
.shortlink{
  list-style-type: none;
  text-align: left;
  margin-left: 0px;
}
.shortlink li a{
  color: white;
}
.shortlink li a:hover {
  text-decoration: underline;
  color: #18bc9c;
}

.btn-social {
    display: inline-block;
    color: white;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    transition: all 0.4s; 
}
.btn-social:hover {
    background: white;
}

.thumbnail {
    color: white;
    background: #E6E3E3;
    border-radius: 40px;
}

.caption h3, .caption p{
    color: #4b0aaf;
    text-align: center;
}

.tienhoa .duongke {
    padding-top: 0px;
    margin-top: -7px;
    z-index: 10;
    position: relative;
}
/* -----------Khung thong tin ------------------ */
.khung {
    position: relative;
    float: right;
    margin-top: 18px;
    margin-right: -95px;
    transition: all 0.5s;
}

.nuttt {
    background: transparent;
    padding: 17px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 19px;
    color: #04f952f7;
}

.tienhoa button.nuttt {
    margin-top: -11px;
}

.ava {
    width: 40px;
    text-indent: -9090px;
    background-size: cover;
    border-radius: 50%;
}

.danhmuctt {
    position: absolute;
    right: 0;
}

.tienhoa .danhmuctt {
    margin-top: -17px;
}

.danhmuctt {
    margin-right: -76px;
    display: none;
    z-index: 20;
    background-color: #f9f9f9;
    min-width: 200px;
    -webkit-transition: z-index 1s;
    -o-transition: z-index 1s;
    transition: z-index 1s;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
}

.nuttt:after {
    width: 0;
    height: 0;
    content: "";
    z-index: 2;
    border-top: 4px solid #f7f6f6;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    right: -69px;
    top: 50%;
    margin-top: -9px;
}
.danhmuctt a{
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}
.danhmuctt a:hover{
    color: blue;
}
.khung:hover .danhmuctt{
    display: block;
}

.qlnd h2 {
    font-weight: 600;
    padding-top: 0px;
    margin-top: -170px;
    color: #1f1fc3f0; 
}

/* hieuung */

.preview_outer {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 20px 0 #bfc0c1;
    box-shadow: 0 0 20px 0 #bfc0c1;
    height: auto;
    overflow: hidden;
    display: block;
    margin-bottom: 3px;
    position: relative;
    z-index:1;
}
.preview_outer .thumbnail{
    position: relative;

}
img {
    vertical-align: middle;
    border: 0;
}

/* hiệu ứng thumbnail */
.preview_outer::before {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: -1px;
    left: 0;
    visibility: hidden;
    background: #fe563a;
    background: -moz-linear-gradient(left, #fe563a 0%, #e43a78 100%);
    background: -webkit-linear-gradient(left, #fe563a 0%,#e43a78 100%);
    background: -ms-linear-gradient(left, #fe563a 0%,#e43a78 100%);
    background: linear-gradient(to right, #fe563a 0%,#e43a78 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe563a', endColorstr='#e43a78',GradientType=1 );
    -webkit-transition: all .5s ease .1s;
    -o-transition: all .5s ease .1s;
    transition: all .5s ease .1s;
    -webkit-transform: scale3d(0, 1, 0);
    -ms-transform: scale3d(0, 1, 0);
    -o-transform: scale3d(0, 1, 0);
    transform: scale3d(0, 1, 0);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    opacity: 0.3;
}
.preview_outer .overlay {
    position: absolute;
    z-index: 2;
    display: inline-block;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}

.preview_outer:hover .overlay{
    opacity: 1;
}

.nutclick {
    border: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    position: relative;
    overflow: hidden; 
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 30px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    text-decoration: none !important;
    background: black;
    z-index: 10;
    background: #FFFFFF;
    color: #333333;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}
.preview_outer a {
    font-size: 13px;
    width: auto;
}

.preview_outer:hover::before, .preview_outer:focus::before {
    visibility: visible;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0.8;
}
/* end hieu ung thumbnail */
img.navbar-brand {
  width: 190px;
  height: auto;
  padding-top: 27px;
  padding-bottom: 0px;
  transition: all 0.5s; 
}
.navbar-header {
    margin-left: -10px;
}
.tienhoa img.navbar-brand {
  padding-top: 6px;
  padding-bottom: 5px;
}
.tienhoa ul.nav.navbar-nav.navbar-right.menu {
    margin-top: 4px;
}
ul.nav.navbar-nav.navbar-right.menu {
    margin-top: 11px;
    margin-right: -21px;
    padding-top: -5px;
    transition: all .5s;
    text-align: left;
    display: inline-block;
}
@media(min-width: 768px ) and (max-width: 1200px){
  .navbar-nav>li {
    text-align: center;
  }
  .navbar-nav {
    padding-left: 142px;
    padding-top: -11px;
  }

  ul.nav.navbar-nav.navbar-right.menu {
    margin-right: 23px;
    margin-left: 26px;
    margin-top: -36px;
  }

.btn.btn-warning.nutsearch {
    margin-left: 50%;
}
  .tienhoa ul.nav.navbar-nav.navbar-right.menu {
    margin-top: -61px;
    margin-left: 35px;}

    .tienhoa .duongke {
      margin-top: -5px;
    }

    ul.nav.navbar-nav.navbar-right.menu li a 
    {
      font-size: 12px;
      padding: 2px 3px;
    }

    .khung {
      margin-top: 16px;
      right: 10%;
    }

    .container.dt {margin-left: 0px;}

    button.nuttt {
    }
  }
@media(max-width: 767px) {
    .btn.btn-warning.nutsearch {
        margin-left: 50%;
    }
    .content {
        margin-left: 91px;
        margin-right: 91px;
    }
}
@media(max-width: 767px) {
    a.navbar-brand {
      padding-top: 17px;
  }
  .duongke {
      width: 123%;
  }
  .nav li a {
      padding: 5px 20px;
      transition: all 0.4s;
      margin-left: 41px;
  }

  .container dt {
      margin-left: 0px;
  }

  .tienhoa .nav li a {
      padding: 3px 48px;
  }
  .navbar-nav {
      margin-top: -6px;
      margin-right: 10px;
      margin-bottom: 0.75px;
      margin-left: -56px;
  }

  ul.nav.navbar-nav.navbar-right.menu {
      padding-top: 0px;
      margin-top: -10px;
  }

  ul.nav.navbar-nav.navbar-right.menu li {
      display: block;
  }


  .tienhoa ul.nav.navbar-nav.navbar-right.menu {
      padding: 0px 18px;
  }

  .tienhoa ul.nav.navbar-nav.navbar-right.menu {
      padding-top: -20px;
  }

  .tienhoa .duongke {
      margin-top: 5px;
  }
  .navbar-toggle {
      margin-right: -10px;
      padding: 9px 10px;
      margin-top: 25px;
  }
  .khung {
      margin-right: 57px;
      margin-left: 0px;
  }
  .container.dt {
      margin-right: 0px;
      margin-left: 0px;
      background: #6518f5d1;
  }
  img.navbar-brand {
      width: 43%;
      padding-left: 0px;
      padding-top: 19px;
  }
  .hinhanh img {
      width: 110%;

  }
  .navbar-right .menu {
      background: #6518f5d1
  }
  .tienhoa ..navbar-right {
      background: #6518f5d1
  }
  .tienhoa .dt .duongke {
      padding-bottom: 10px;
  }
  .tienhoa .menu li {
      display:  inline-block;
  }
  .khungcn{
    margin-left: 5px;
   }
  .ul.nav.navbar-nav.navbar-right.menu ul {
    display: inline-block;
   }
}