* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.menu li:hover {
    color: #1a242f;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #1a242f;
}

.danhmuc {
    margin-left: 69px;
}

.col-md-2.col-md-push-5 {
    margin-top: -20px;
}

.tienhoa .menu li {
    margin-top: 7px;
}

button.nuttt {
    padding-top: 0px;
    margin-top: 2px;
    margin-right: -74px;
    transition: all 0.5s;
}

.trinhchieu{
    margin-top: 70px;
}

.dt .duongke {
    border-top: 5px solid;
    color: white;
    border-radius: 7px;
    padding-top: 18px;
    margin-top: 13px;
    transition: all 0.5s;
    width: 115%;
}
.menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.nav li a {
    padding: 7px 7px;
    transition: all 0.4s;
    margin-left: 15px;
}


.collapse.navbar-collapse.navbar-ex1-collapse {
    margin-right: 48px;
    padding-top: 21px;
    transition: all 0.5s;
}

.tienhoa .collapse.navbar-collapse.navbar-ex1-collapse {
    padding: 0px;
}


a.navbar-brand {
    font-size: 26px;
    padding-top: 33px;
    transition: all 0.5s; 
    text-decoration: none;
}


.tienhoa a.navbar-brand {
    padding-top: 15px;
}

.container.dt {margin-right: 20px;margin-left: 20px;}


nav.navbar.navbar-default {
    padding-top: 0px;
    padding-bottom: 0px;
}

nav.navbar.navbar-default.navbar-fixed-top.tienhoa {
    height: 69px;
}
.navbar-default {
    background: #6518f5d1;
    background-repeat: repeat;
}

nav.navbar.navbar-default{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin: 0;
}



footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 45px;
    background-color: #2c3e50;
}

footer .footer-col {
    margin-bottom: 45px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}
.btn-social {
    display: inline-block;
    color: white;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    transition: all 0.4s; 
}
.btn-social:hover {
    background: white;
}


.caption h3, .caption p{
    color: blue;
}

.row.intro {
    padding-bottom: 40px;
}

.luuy, .modau, .detail {
    text-indent: 20px
}


.tienhoa .duongke {
    padding-top: 0px;
    margin-top: -7px;
    z-index: 10;
    position: relative;
}
/* -----------Khung thong tin ------------------ */
.khung {
    position: relative;
    float: right;
    margin-top: 10px;
    transition: all 0.5s;
}
.khung .doimau {
    background: url("../Images/green.jpg");
}
.nuttt {
    background: transparent;
    padding: 17px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 19px;
    color: #04f952f7;
}

.tienhoa button.nuttt {
    margin-top: -11px;
}

.ava {
    width: 40px;
    text-indent: -9090px;
    background-size: cover;
    border-radius: 50%;
}

.danhmuctt {
    position: absolute;
    right: 0;
}

.tienhoa .danhmuctt {
    margin-top: -17px;
}

.danhmuctt {
    display: none;
    z-index: 20;
    background-color: #f9f9f9;
    min-width: 200px;
    -webkit-transition: z-index 1s;
    -o-transition: z-index 1s;
    transition: z-index 1s;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
}

.nuttt:after {
    width: 0;
    height: 0;
    content: "";
    z-index: 2;
    border-top: 4px solid #f7f6f6;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
}
.danhmuctt a{
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}
.danhmuctt a:hover{
    color: blue;
}
.khung:hover .danhmuctt{
    display: block;
}

table.table-bordered{
    border:1px solid #63d20c;
    margin-top:20px;
    text-align: center;
  }
table.table-bordered > thead > tr > th{
    border:1px solid #63d20c;
    text-align: center;
    background: #49930e;
    color: white;
}
table.table-bordered > tbody > tr > td{
    border:1px solid #63d20c;
    text-align: center;
    line-height: 35px;
    color: black;
}

table.table-bordered > tbody > .chan > td{
    background: #f713c429;
    color: black;
}

table.table-bordered > tbody > tr > td > .detail {
    text-decoration: none;
}

/* CSS searchbox */
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 43px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 52px;
  border: 1px solid #ccc;
  margin-right: -23px;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}

.form-control {margin-left: 5px;}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 40px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 18px;
}
.radiochon {
    display: inline;
    padding-left: 20px;
    padding-right: 10px;
}


.content {
    background: #60ff0036;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 183px;
    margin-right: 194px;
    border-radius: 19px;
}

.row.selectRadio {
    padding-bottom: 13px;
    padding-top: 10px;
}


.btn.btn-warning.nutsearch {
    float: left;
    margin-left: 7px;
    border: none;
    padding: 9px 9px;
}

.btn.btn-danger.nutXoaAcc {border: none;padding: 9px 9px;}

.btn.btn-danger.nutXoaAcc a {
    text-decoration: none;
    color: white;
}

.btn.btn-success.nutTDTT {
    border: none;
    background: #2c65ea;
    padding: 9px 9px;
    transition: all .4s;
}
.btn.btn-success.nutTDTT:hover {
    background: #0000ffde;
}
.btn.btn-success.nutTDTT a {
    text-decoration: none;
    color: white;
}


footer {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

footer h3 {
    margin-bottom: 30px;
    font-weight: 600;
}

footer .footer-above {
    padding-top: 45px;
    background-color: #6518f5d1;
}

footer .footer-col {
    margin-bottom: 45px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #380598d1;
}

img .imglogo {
    height: 40px;
}
.logofooter {
    margin-top: -32px;
}
.shortlink{
  list-style-type: none;
  text-align: left;
  margin-left: 0px;
}
.shortlink li a{
  color: white;
}
.shortlink li a:hover {
  text-decoration: underline;
  color: #18bc9c;
}

.btn-social {
    display: inline-block;
    color: white;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    transition: all 0.4s; 
}
.btn-social:hover {
    background: white;
}


.caption h3, .caption p{
    color: blue;
}

.doimau {
    background: url("../Images/green.jpg");
}


.row.intro {
    padding-bottom: 40px;
}

.luuy, .modau, .detail {
    text-indent: 20px
}


.tienhoa .duongke {
    padding-top: 0px;
    margin-top: -7px;
    z-index: 10;
    position: relative;
}
/* -----------Khung thong tin ------------------ */
.khung {
    position: relative;
    float: right;
    margin-top: 18px;
    margin-right: -95px;
    transition: all 0.5s;
}

.nuttt {
    background: transparent;
    padding: 17px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 19px;
    color: #04f952f7;
}

.tienhoa button.nuttt {
    margin-top: -11px;
}

.ava {
    width: 40px;
    text-indent: -9090px;
    background-size: cover;
    border-radius: 50%;
}

.danhmuctt {
    position: absolute;
    right: 0;
}

.tienhoa .danhmuctt {
    margin-top: -17px;
}

.danhmuctt {
    margin-right: -76px;
    display: none;
    z-index: 20;
    background-color: #f9f9f9;
    min-width: 200px;
    -webkit-transition: z-index 1s;
    -o-transition: z-index 1s;
    transition: z-index 1s;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
}

.nuttt:after {
    width: 0;
    height: 0;
    content: "";
    z-index: 2;
    border-top: 4px solid #f7f6f6;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    right: -69px;
    top: 50%;
    margin-top: -9px;
}
.danhmuctt a{
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}
.danhmuctt a:hover{
    color: blue;
}
.khung:hover .danhmuctt{
    display: block;
}
.nenslide {
    padding-top: 30px;
    width: 100%;
    height: 740px;
}

table.table-bordered{
    border:1px solid #10eabf;
    margin-top:20px;
    text-align: center;
  }
table.table-bordered > thead > tr > th{
    border:1px solid white;
    text-align: center;
    background: #49930e;
    color: white;
}
table.table-bordered > tbody > tr > td{
    border:1px solid white;
    text-align: center;
    line-height: 35px;
    color: black;
}

table.table-bordered > tbody > .chan > td{
    background: #f713c429;
    color: black;
}

table.table-bordered > tbody > tr > td > .detail {
    text-decoration: none;
}

.nutSua, .nutXoa, .nutXem {
    border: none;
    padding: 9px 9px;
}

.btn.btn-danger.nutXoa a {
    color: white;
    text-decoration: none;
}

.btn.btn-warning.nutSua a {
    color: white;
    text-decoration: none;
}

.btn.btn-success.nutXem a {
    color: white;
    text-decoration: none;
}

.qlybd {
    padding-top: 131px;
    padding-bottom: 50px;
}

.qlybd h3 {
    font-weight: 600;
}

/* --- */
.nutvaothi a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.nutvaothi a:hover {
    text-decoration: none;
}

.btn.btn-default.nutvaothi {
    background: #1ade1aa6;
    border: none;
    transition: all 0.5s;
}

.btn.btn-default.nutvaothi:hover {
    background: #008000cf;
}

.nutvaothi:hover {
    background: #008000d4;
}

/* ---modal */
.modal-footer button.btn.btn-secondary {
    border: none;
    background: #15d248;
    color: white;
    padding: 7px 23px;
    transition: all .5s;
}

.modal-footer button.btn.btn-primary {
    border: none;
    color: white;
    padding: 7px 23px;
    background: #000000b5;
    transition: all .5s;
}

.modal-footer button.btn.btn-secondary:hover {
    background: #0a9e32;
}

.modal-footer button.btn.btn-primary:hover {
    background: #000000c7;
}

.modal-footer {
    background: #cce3f1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-header {
    background: #1a87e6;
    color: white;
}

.modal-body {
    font-size: 17px;
    text-align: center;
    line-height: 17px;
    padding-bottom: 12px;
}

.btn.btn-default.nutwrite {
    margin-left: 57%;
    padding: 9px 9px;
    background: #f3798fcf;
    transition: all .5s;
}

.btn.btn-default.nutwrite a {
    text-decoration: none;
    color: white;
}

.btn.btn-default.nutwrite:hover {
    background: #e01034ad;
}
.qldsnd {
    padding-top: 124px;
    padding-bottom: 20px;
}
.qldsnd h3 {
    color: red;
    font-weight: 600;
}
.qldsnd h4{
color: blue;
}

img.navbar-brand {
  width: 190px;
  height: auto;
  padding-top: 27px;
  padding-bottom: 0px;
  transition: all 0.5s; 
}
.navbar-header {
    margin-left: -10px;
}
.tienhoa img.navbar-brand {
  padding-top: 6px;
  padding-bottom: 5px;
}
.tienhoa ul.nav.navbar-nav.navbar-right.menu {
    margin-top: 4px;
}
ul.nav.navbar-nav.navbar-right.menu {
    margin-top: 11px;
    margin-right: -21px;
    padding-top: -5px;
    transition: all .5s;
    text-align: left;
    display: inline-block;
}
@media(min-width: 768px ) and (max-width: 1200px){
  .navbar-nav>li {
    text-align: center;
  }
  .navbar-nav {
    padding-left: 142px;
    padding-top: -11px;
  }

  ul.nav.navbar-nav.navbar-right.menu {
    margin-right: 23px;
    margin-left: 26px;
    margin-top: -36px;
  }

.btn.btn-warning.nutsearch {
    margin-left: 50%;
}
  .tienhoa ul.nav.navbar-nav.navbar-right.menu {
    margin-top: -61px;
    margin-left: 35px;}

    .tienhoa .duongke {
      margin-top: -5px;
    }

    ul.nav.navbar-nav.navbar-right.menu li a 
    {
      font-size: 12px;
      padding: 2px 3px;
    }

    .khung {
      margin-top: 16px;
      right: 10%;
    }

    .container.dt {margin-left: 0px;}

    button.nuttt {
    }
  }
@media(max-width: 767px) {
    .btn.btn-warning.nutsearch {
        margin-left: 50%;
    }
    .content {
        margin-left: 91px;
        margin-right: 91px;
    }
}
@media(max-width: 767px) {
    a.navbar-brand {
      padding-top: 17px;
  }
  .duongke {
      width: 123%;
  }
  .nav li a {
      padding: 5px 20px;
      transition: all 0.4s;
      margin-left: 41px;
  }

  .container dt {
      margin-left: 0px;
  }

  .tienhoa .nav li a {
      padding: 3px 48px;
  }
  .navbar-nav {
      margin-top: -6px;
      margin-right: 10px;
      margin-bottom: 0.75px;
      margin-left: -56px;
  }

  ul.nav.navbar-nav.navbar-right.menu {
      padding-top: 0px;
      margin-top: -10px;
  }

  ul.nav.navbar-nav.navbar-right.menu li {
      display: block;
  }


  .tienhoa ul.nav.navbar-nav.navbar-right.menu {
      padding: 0px 18px;
  }

  .tienhoa ul.nav.navbar-nav.navbar-right.menu {
      padding-top: -20px;
  }

  .tienhoa .duongke {
      margin-top: 5px;
  }
  .navbar-toggle {
      margin-right: -10px;
      padding: 9px 10px;
      margin-top: 25px;
  }
  .khung {
      margin-right: 57px;
      margin-left: 0px;
  }
  .container.dt {
      margin-right: 0px;
      margin-left: 0px;
      background: #6518f5d1;
  }
  img.navbar-brand {
      width: 43%;
      padding-left: 0px;
      padding-top: 19px;
  }
  .hinhanh img {
      width: 110%;

  }
  .navbar-right .menu {
      background: #6518f5d1
  }
  .tienhoa ..navbar-right {
      background: #6518f5d1
  }
  .tienhoa .dt .duongke {
      padding-bottom: 10px;
  }
  .tienhoa .menu li {
      display:  inline-block;
  }
  .khungcn{
    margin-left: 5px;
   }
  .ul.nav.navbar-nav.navbar-right.menu ul {
    display: inline-block;
   }
}