* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
label.error {
    display: block;
    color: red;
    text-align: left;
    padding-left: 38%;
}
.menu li:hover {
    color: #1a242f;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #1a242f;
}

.danhmuc {
    margin-left: 69px;
}

.col-md-2.col-md-push-5 {
    margin-top: -20px;
}

.tienhoa .menu li {
    margin-top: 7px;
}


.tienhoa .btn-btn-default.nutlogin {
    padding: 4px;
}


input[type="submit"] {
    margin-bottom: 54px;
    margin-top: 20px;
}

span.field {
    font-size: 18px;
    color: #1313ea;
}

button.nuttt {
    padding-top: 0px;
    margin-top: 2px;
    transition: all 0.5s;
}

button.nuttt {
    padding-top: 0px;
    margin-top: 2px;
    transition: all 0.5s;
}

ul.nav.navbar-nav.navbar-right.menu {
    margin-right: 10px;
    padding-top: 4px;
}

hr.small.text-center {
    border-top: 3px solid white;
}

span.trienkhai {
    padding: 4px 49px;
    border: 2px solid #131149;
    border-radius: 14px;
    font-size: 17px;
    margin-left: -28px;
    color: #131149;
}

.dt .duongke {
    border-top: 5px solid;
    color: white;
    border-radius: 7px;
    padding-top: 18px;
    margin-top: 13px;
    transition: all 0.5s;
}


.menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.nav li a {
    padding: 7px 7px;
    transition: all 0.4s;
    margin-left: 15px;
}


.collapse.navbar-collapse.navbar-ex1-collapse {
    margin-right: 150px;
    padding-top: 21px;
    transition: all 0.5s; 
}

.tienhoa .collapse.navbar-collapse.navbar-ex1-collapse {
    padding: 0px;
}


a.navbar-brand {
    font-size: 26px;
    padding-top: 33px;
    transition: all 0.5s; 
    text-decoration: none;
}

.tienhoa a.navbar-brand {
    padding-top: 15px;
}

nav.navbar.navbar-default {
    padding-top: 0px;
    padding-bottom: 0px;
}

nav.navbar.navbar-default.navbar-fixed-top.tienhoa {
    height: 69px;
}
.navbar-default {
    background: #6518f5d1;
    background-repeat: repeat;
}



nav.navbar.navbar-default{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin: 0;
}


footer {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

footer h3 {
    margin-bottom: 30px;
    font-weight: 600;
}

footer .footer-above {
    padding-top: 45px;
    background-color: #6518f5d1;
}

footer .footer-col {
    margin-bottom: 45px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #380598d1;
}

img .imglogo {
    height: 40px;
}
.logofooter {
    margin-top: -32px;
}
.shortlink{
  list-style-type: none;
  text-align: left;
  margin-left: 0px;
}
.shortlink li a{
  color: white;
}
.shortlink li a:hover {
  text-decoration: underline;
  color: #18bc9c;
}

.btn-social {
    display: inline-block;
    color: white;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    transition: all 0.4s; 
}
.btn-social:hover {
    background: white;
}


.tienhoa .duongke {
    padding-top: 0px;
    margin-top: -7px;
    z-index: 10;
    position: relative;
}
/* -----------Khung thong tin ------------------ */
.khung {
    position: relative;
    float: right;
    margin-top: 10px;
    transition: all 0.5s;
}

.nuttt {
    background: transparent;
    padding: 17px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 19px;
    color: #04f952f7;
}

.tienhoa button.nuttt {
    margin-top: -11px;
}

.ava {
    width: 40px;
    text-indent: -9090px;
    background-size: cover;
    border-radius: 50%;
}

.danhmuctt {
    position: absolute;
    right: 0;
}

.tienhoa .danhmuctt {
    margin-top: -17px;
}

.danhmuctt {
    display: none;
    z-index: 20;
    background-color: #f9f9f9;
    min-width: 200px;
    -webkit-transition: z-index 1s;
    -o-transition: z-index 1s;
    transition: z-index 1s;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
}

.nuttt:after {
    width: 0;
    height: 0;
    content: "";
    z-index: 2;
    border-top: 4px solid #f7f6f6;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
}
.danhmuctt a{
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}
.danhmuctt a:hover{
    color: blue;
}
.khung:hover .danhmuctt{
    display: block;
}

.pom-agile {
    margin-left: 7%;
    margin-right: 10%;
}
.pom-agile {
    position: relative;
}
span.icon1, span.icon2 {
    color: #ea2858;
    font-size: 1.1em;
    position: absolute;
    right: 20%;
}
span.icon1 {
    top: 20%;
}

span.icon2 {
    top: 42%;
}
span.icon2 {
    top: 34%;
}
input[type="email"],input[type="password"],input[type="text"]{
    outline: none;
    font-size: .9em;
    padding: 1em 3em 1em 1em;
    border: 1px solid blue;
    margin-bottom: 0.3em;
    background: rgba(255, 255, 255, 0.85);
    width: 43%;
    color: #000;
    border-radius: 30px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

input.Address {
    margin-left: 112px;
}

input.Tele {
    margin-left: 63px;
}

input.Infor {
    margin-left: 113px;
}

input.user {
    margin-left: 33px;
}

input[type="submit"] {
    color: white;
    background: #ea2858bd;
    border: none;
    padding: .7em 0;
    outline: none;
    width: 13%;
    font-size: 17px;
    cursor: pointer;
    margin-left: -1%;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border-radius: 30px;
}

input[type="submit"]:hover {
    background: #ea2858;
    color: white;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -o-transition:0.5s all;
    -moz-transition:0.5s all;
    -ms-transition:0.5s all;
}

.wthree-pro h2 {
    font-size: 1.5em;
    font-weight: 700;
    color: #e01b1b;
    letter-spacing: 4px;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    text-align: center;
}

.formChange {
    padding-top:160px;
}
.posTDTT{
    padding-top: 154px;
    margin-left: 0px;
}

.wthree-pro h3 {
    color: #f50730;
    font-weight: 600;
    padding-bottom: 20px;
}

img.navbar-brand {
  width: 190px;
  height: auto;
  padding-top: 27px;
  padding-bottom: 0px;
  transition: all 0.5s; 
}
.navbar-header {
    margin-left: -10px;
}
.tienhoa img.navbar-brand {
  padding-top: 8px;
  padding-bottom: 5px;
}
.tienhoa ul.nav.navbar-nav.navbar-right.menu {
    margin-top: 5px;
}
.container.dt {
    margin-right: 0px;
}
ul.nav.navbar-nav.navbar-right.menu {
    margin-right: 69px;
    padding-top: 4px;
}

@media(max-width: 1200px) and (min-width: 768px){
    .navbar-nav>li {
      text-align: center;
  }
  .navbar-nav {
      padding-left: 109px;
      margin-top: -41px;
      padding-right: 0px;
  }
  .collapse.navbar-collapse.navbar-ex1-collapse {
      margin-right: 35px;
  }
  .khung {
      right: 22%;
  }
  ul.nav.navbar-nav.navbar-right.menu li > a {
      font-size: 14px;
  }
  .tienhoa .duongke {
      margin-top: -5px;
  }
  .tienhoa ul.nav.navbar-nav.navbar-right.menu {
      margin-top: -5%;
  }
  ul.nav.navbar-nav.navbar-right.menu li a {font-size: 15px;padding: 2px 3px;}
  .khung {
      margin-top: 16px;
      margin-right: 0px;
      padding-right: 0px;
      right: -8%;
  }
  .duongke {
      width: 118%;
  }
  .container.dt {margin-left: 0px;}
}
@media(max-width: 767px){

    a.navbar-brand{
        padding-top: 17px;
    }
    .duongke{
        width: 102%;
    }

    .tienhoa .duongke{
        margin-top: 5px;
    }
    .nav li a{
        padding: 7px 21px;
        transition: all 0.4s;
        margin-left: 41px;
    }
    .navbar-nav{
        margin-top: -6px;
        margin-right: 10px;
        margin-bottom: 0.75px;
        margin-left: -48px;
    }
    .navbar-toggle{
        margin-right: 0px;
        padding: 9px 10px;
        margin-top: 13px;
    }

    .container.dt{
        background: #6518f5d1;
    }

    .khung{
        margin-right: -29px;
        margin-left: 0px;
    }

    img.navbar-brand{
        width: 47%;
        padding-top: 22px;
    }
    .hinhanh img{
        width: 110%;
    }
    .navbar-right .menu{
        background: #6518f5d1
    }
    .tienhoa ..navbar-right{
        background: #6518f5d1
    }
    .tienhoa .dt .duongke{
        padding-bottom: 10px;
    }
    .tienhoa .menu li{
        display: block;
    }

    .khungcn{
      margin-left: 5px;
  }

  .ul.nav.navbar-nav.navbar-right.menu ul{
      display: inline-block;
  }
  .ul.nav.navbar-nav.navbar-right.menu ul li{
      display: block;
  }
}
@media(max-width: 767px) {
    .pom-agile {
        margin-left: 0px;
        font-size: 11px;
    }
    input.Address {margin-left: 60px;width: 53%;}

    span.field {font-size: 13px;}

    input.user {
        margin-left: 14px;
        width: 54%;
    }

    input.Tele {
        margin-left: 23px;
        width: 55%;
    }

    input.Infor {
        margin-left: 71px;
        width: 54%;
    }

    span.icon1, span.icon2 {
        right: 13%;
    }

    input[type="submit"] {
        width: 23%;
        margin-left: -3%;
    }

    .wthree-pro h2 {
        letter-spacing: 1px;
    }

    .input {
        margin-left: 0px;
        padding-left: 0px;
    }
    .col-lg-4.wow.zoomIn {
        display: inline;
    }
}